
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*/.gradle/*
*/.idea/
*.class
*/.idea/*
*/.idea/*
*/build/*
dep.txt
mpclient/.idea/workspace.xml
Docs/design/Masterpiece.ldb
*/target/
*.zip
*.iml
**/build/
*.jar
***/.idea/*
*/ui/*
autocode/classes/*
mpserver/dump-storage/**
mpserver/temp/**
urltext/url*.txt
urltext/submit.sh
.gradle/3.1/
.idea/
!/gradle/wrapper/dists/gradle-3.1-all.zip
